In [36]:
import pandas as pd
import numpy as np
import sqlalchemy

from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy import Column, Integer, String, Float

import pymysql
pymysql.install_as_MySQLdb()

In [37]:
Base = declarative_base()

class Measurement(Base):
    __tablename__ = 'measurements'
    id = Column(Integer, primary_key = True)
    station = Column(String(255))
    date = Column(String(255))
    prcp = Column(Float)
    tobs = Column(Integer)
    
class Station(Base):
    __tablename__ = 'stations'
    id = Column(Integer, primary_key = True)
    station = Column(String(255))
    name = Column(String(255))
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)

In [38]:
measurement_df = pd.read_csv("clean_measurements_df.csv")
station_df = pd.read_csv("clean_hawaii_stations.csv")

In [39]:
engine = sqlalchemy.create_engine("sqlite:///hawaii.sqlite")
Base.metadata.create_all(engine)
session = Session(bind = engine)

In [42]:
measurement_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06  0.00    73

In [40]:
station.__table__

Table('stations', MetaData(bind=None), Column('id', Integer(), table=<stations>, primary_key=True, nullable=False), Column('station', String(length=255), table=<stations>), Column('name', String(length=255), table=<stations>), Column('latitude', Float(), table=<stations>), Column('longitude', Float(), table=<stations>), Column('elevation', Float(), table=<stations>), schema=None)

In [43]:
measurement_df.to_sql("measurements", con=engine, if_exists='append', index=False)

In [44]:
station_df.to_sql("stations", con=engine, if_exists='append', index=False)

In [49]:
measurement_count = session.query(Measurements.id,Measurements.station).count()

measurement_count

NameError: name 'Measurements' is not defined

TypeError: __init__() takes 1 positional argument but 2 were given